@import "tailwindcss";
@import "@repo/ui/styles";
@source "../../../packages/ui/src";

@theme {
  --color-presetPrimary: #1E293B;
  --color-presetAccent: #F97316;
  --color-presetBackground: #F8FAFC;
  --color-presetTextDark: #0F172A;
}
